/**
 * Flat UI Color
 * http://flatuicolors.com/
 */
@flatBlue1: #3498db;	// peter river
@flatBlue2: #2980b9;	// belize hole

@flatDarkBlue1: #34495e;	// wet asphalt
@flatDarkBlue2: #2c3e50;	// midnight blue

@flatRed1: #e74c3c;		// alizarin
@flatRed2: #c0392b;		// pomegranate

@flatPurple1: #9b59b6;	// amethyst
@flatPurple2: #8e44ad;	// wisteria

@flatGreen1: #2ecc71;	// emerald
@flatGreen2: #27ae60;	// nephritis
@flatGreen3: #1abc9c;	// turquoise
@flatGreen4: #16a085;	// green sea

@flatYellow1: #f1c40f;	// sun flower
@flatOrange1: #f39c12;	// orange
@flatOrange2: #e67e22;	// carrot
@flatOrange3: #d35400;	// pumpkin

@flatLightGray1: #ecf0f1;	// clouds
@flatLightGray2: #bdc3c7;	// silver
@flatGray1: #95a5a6;		// concrete
@flatGray2: #7f8c8d;		// asbestos


// Buttons
// -------------------------
@btnBackground:                     @white;
@btnBackgroundHighlight:            darken(@white, 10%);
@btnBorder:                         #ccc;

@btnPrimaryBackground:              lighten(@flatBlue2, 5%);
@btnPrimaryBackgroundHighlight:     darken(@flatBlue2, 5%); //spin(@btnPrimaryBackground, 20%);

@btnInfoBackground:                 lighten(#31b0d5, 5%);
@btnInfoBackgroundHighlight:       	darken(#31b0d5, 5%);

@btnSuccessBackground:              lighten(@flatGreen2, 5%);
@btnSuccessBackgroundHighlight:     darken(@flatGreen2, 5%);

@btnWarningBackground:              lighten(@flatOrange1, 5%);
@btnWarningBackgroundHighlight:     darken(@flatOrange1, 5%);

@btnDangerBackground:               lighten(@flatRed1, 5%);
@btnDangerBackgroundHighlight:      darken(@flatRed1, 5%);

@btnInverseBackground:              lighten(@flatDarkBlue2, 5%);
@btnInverseBackgroundHighlight:     darken(@flatDarkBlue2, 5%);
